# Dependencies
backend/node_modules
frontend/node_modules

# Environment variables
backend/.env
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Next.js build output
frontend/.next/
frontend/out/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml
*.sublime-project
gemini.md

# Scripts
seedadmin.js

.aierules

# Agents
.agents/